.divSize{
  height:200px;
}

.updateProfile{
  background-color:#c093fc;
  color: white;
  border: none;
  padding: 5px 20px;
  width:315px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.updateProfile:hover{
  background-color:#ae7af2;
  transform: scale(1.025);
}