.sign {
  background: url("../../images/amusement-park.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: flex-end; /* Align the form to the right */
  align-items: flex-start; /* Start positioning from the top */
  position: relative;
}

.signup-container {
  max-width: 400px;
  padding: 20px;
  background: rgb(218 227 236 / 90%); /* Slightly transparent white background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 80px; /* Move further away from the right edge */
  margin-top: 70px; /* Add spacing from the top */
  animation: slideIn 2s ease-in-out; /* Apply slide-in animation */
  position: relative; /* Ensure animation works correctly */
}

@keyframes slideIn {
  from {
    transform: translate(200px, -200px); /* Start above and slightly to the right */
    opacity: 0; /* Start fully transparent */
  }
  to {
    transform: translate(0, 0); /* End in the normal position */
    opacity: 1; /* End fully visible */
  }
}


  
  /* Style the signup box */
  .signup-box {
   
    max-width: 400px;
    padding: 20px;
  
    border-radius: 8px;
    
  }
  
  /* Center the heading with a dark background and white text */
  .signup-box h2 {
    color: linear-gradient(to right,#0b556c,
    #2f7e92,
    #806fd3,
    #995fb6,
    #e376ac,
    #e294a9 );
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  /* Add margin to the bottom of each form group */
  .signup-box .form-group {
    margin-bottom: 15px;
  }
  
  /* Style the error text */
  .signup-box .error-text {
    color: red;
    font-size: 0.875em;
  }
  
  /* Style the submit button */
  .signup-box .btn-primary {
    width: 100%;
  }
 
 .btn{
  color: black !important;
  background-color: #5298aa !important;
 }
 .btn:hover{
  background-color: #94bfdb !important;
 }