.signupContainer {
  background-image: url('../../images/spore.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.signupBox {
  background-color: transparent !important;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  text-align: center;
  width: 470px;
  height: 570px;
  max-width: 1000px;
  position: relative;
  right: 0;
  margin: 40px auto;
}

.signupLogo {
  width: 80px;
  height: 80px;
  background-image: url("../../images/Manasthali.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
  display: block;
}

.inputContainer {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputField {
  width: 440px !important;
  height: 40px !important;
  background-color: transparent !important;
  border-bottom: 1px solid black !important;
  font-size: 1rem;
  transition: font-size 0.3s, transform 0.3s;
}

.inputField:focus {
  border: 1px solid black; 
  outline: none; 
  background-color: transparent;
  box-shadow: none;
}

.labelField{
  height:25px;
  margin-left: 5px;
  font-size: 1.2rem;
  color: black;
  text-align: left;
  transition: font-size 0.3s, transform 0.3s, color 0.3s;
}

.passwordFieldContainer {
  position: relative;
  width: 100%;
}

.togglePassword {
  position: absolute;
  right: -65px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: Black;
  font-weight: bold;
  cursor: pointer;
}

.upBtn,
.upBtnOutline {
  color: black;
  background-color: transparent !important;
  font-weight: bold;
  padding: 10px 15px;
  border:1px solid black;
  width:300px;
  margin-bottom: 5px;
  transition: all 0.4s ease;
  font-size: 1.1rem;
}

.upBtn:hover,
.upBtnOutline:hover {
  background-color: transparent !important;
  color: black;
  transform: scale(1.025);
  border: 1px solid black;
}
.errorText {
  color: rgb(254, 73, 73);
  font-size: 0.7rem;
  text-align: left; 
  width: 410px;
}

.errorBorder {
  border-color: rgb(254, 73, 73) !important; 
}

.inputContainer {
  position: relative; 
  margin-bottom: 1rem; 
  background-color: transparent !important;
}


.row {
  gap: 0px !important;
}