  
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:transparent;
}

.signin-container {
  background-color:aliceblue;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
}

 
.signin-box {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

 
.signin-box h2 {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
}

 
.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

 
.error-message {
  font-size: 0.9rem;
  color: #e74c3c;
}
 
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004999;
}

 
.btn-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
