 
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.signin-logo {
  width: 100px;
  height: 100px;
  background-image: url("../../images/Manasthali.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 10px auto;
}

.signin-container {
   
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.signin-box {
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; 
  padding: 30px;
}

 
.signin-box h2 {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
}

 
.form-control:focus {
  border-color: #555554;
  box-shadow: 0 0 5px rgba(174, 54, 230, 0.5);
  outline: none;
}


.error-message {
  font-size: 0.9rem;
  color: #e74c3c;
}
 
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004999;
}

 
.btn-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}