.feedContainer{
    display: flex;
    justify-content: center;
}

.postCardContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cardHeader{
    border-bottom: 1px solid lightgray;
    background-color: rgb(248, 248, 248);
    margin: 0;
}

.userName{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.commentTextbox{
    border-bottom: 1px solid lightgray;
}

.commentTextField{
    border: none;
    margin-left: 2px;
    width: 80%;
    font-size: 15px;
}

.emojiButton{
    background: none;
    border: none;
    width: 8%;
    height: 7px;
    color: #6e6767;
}

.emojiButton:hover{
    color: lightgray;
}

.emojiPickerContainer{
    position: absolute;
    bottom: 70px;
    left: 20px;
    z-index: 15;
    background-color: #ffffff;
    border: 1px solid #d4c7e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commentTextField:focus {
    border: none; 
    outline: none;
}


.commentPostButton{
    background:none;
    color: blue;
    font-weight: bold;
    font-size: 15px;
    border: none;
    margin-left: 2%;
    width: 8%;
}

.commentPostButton:hover{
    color: #0e0eb0;
}

.commentPostButton:disabled {
    color: #666;
    cursor: not-allowed;
    font-weight: lighter;
}

.postDescription{
    margin: 0;
    font-size: 20px;
}

.postImage{
    width: 550px;
    height: 400px;
}

.likeButton{
    margin-right:5px;
    background: none;
    border: none;
    padding:0;
}

.commentButton{
    margin: 0px 5px 0px 15px;
    background: none;
    border: none;
    padding:0;
}

.shareButton{
    margin: 0px 5px 0px 15px;
    background: none;
    border: none;
    padding:0;
}

.roundedProfile{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    margin:0px 10px 0px 10px;
}

.likeCommentShareButton{
    display: flex;
    align-items: center;
}

.likeCount{
    font-size: 16px;
}

.commentCount{
    font-size: 16px;
}

.shareCount{
    font-size: 16px;
}
  
.modalContent {
    position: fixed;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: rgb(251, 248, 248);
    border-radius: 10px;
    width: 400px;   
    z-index: 9999;   
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);   
    z-index: 9998;  
  }

  .closeModalButton{
    background: none;
    width: 4%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 50%;
    font-weight: bold;
    font-size: 10px;
    color: lightgray;
    background-color: white;
  }

  .closeModalButton:hover{
    color: gray;
  }

  .closeButton{
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: end;
    padding-right: 5px;
  }

  .postComments{
    width: 50%;
    height: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
  }

  .postMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
  }

  .modalPostImage{
    width: 100%;
    height: 100%;
  }

  .postCommentsInnerDiv {
    height: 96%;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        height: 100%;
    };
    scrollbar-width: thin; 
    scrollbar-color: auto transparent;
}