.feedContainer{
    display: flex;
    justify-content: center;
}

.postCardContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cardHeader{
    border-bottom: 1px solid lightgray;
    background-color: rgb(246, 241, 241);
    margin: 0;
}

.userName{
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}

.commentTextbox{
    border-bottom: 1px solid lightgray;
}

.commentTextField{
    border: none;
    margin-left: 2px;
    width: 88%;
}

.commentTextField:active{
    border: none;
    outline: none;
}

.commentPostButton{
    background:none;
    color: blue;
    font-size: 15px;
    border: none;
    margin-left: 2%;
    width: 8%;
}

.commentPostButton:hover{
    color: #0e0eb0;
}

.postDescription{
    margin: 0;
    font-size: 20px;
}

.postImage{
    width: 550px;
    height: 400px;
}

.likeButton{
    margin: 0px 10px;
    background: none;
    border: none;
    padding:0;
}

.commentButton{
    margin: 0px 10px;
    background: none;
    border: none;
    padding:0;
}

.shareButton{
    margin: 0px 10px;
    background: none;
    border: none;
    padding:0;
}

.roundedProfile{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    margin:0px 10px 0px 10px;
}